@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i");
@import "sass/partials/reset";
@import "sass/partials/variables";
@import "sass/partials/modal";

* {
  box-sizing: border-box;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: $purple;
}

button {
  background: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  color: #675b64;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  background: $yellow;
}

p {
  margin-top: 25px;
}

a.logo {
  font-size: 26px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding: 2px 4px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0;
}

h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  color: $purple;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 20px;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

section {
  padding: 0 20px;
}

nav {
  @media (max-width: 1000px) {
    margin-top: 15px;
  }

  ul {
    display: flex;
    align-items: baseline;

    li {
      margin: 0 15px;

      @media (max-width: 1000px) {
        margin: 0 10px;
      }

      a,
      button {
        font-size: 15px;
        cursor: pointer;
        color: $purple;
        font-family: arial, sans-serif;
        padding-bottom: 2px;
        line-height: 1;
        transition: all 0.3s ease;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

ul.meal-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: 10px;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  & > li {
    padding: 15px 20px 20px 20px;
    background: #fff;
    border: 3px solid $purple;
    position: relative;
    border-radius: 10px;

    &:nth-child(1)::before {
      content: 'Monday';
    }

    &:nth-child(2)::before {
      content: 'Tuesday';
    }

    &:nth-child(3)::before {
      content: 'Wednesday';
    }

    &:nth-child(4)::before {
      content: 'Thursday';
    }

    &:nth-child(5)::before {
      content: 'Friday';
    }

    &::before {
      font-size: 16px;
      padding: 0px 10px 5px 10px;
      text-transform: uppercase;
      font-weight: bold;
      color: #f14701;
      border-bottom: 3px solid $purple;
      position: absolute;
      right: 0;
      text-align: center;
      width: auto;

      @media (max-width: 1000px) {
        left: 0;
        right: auto;
      }
    }
  }

  h2 {
    margin-top: 45px;
  }

  .edit-recipe {
    cursor: pointer;
    color: $purple;
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 14px;
    border-bottom: 1px dashed #782161;
    cursor: pointer;

    &:hover {
      border-bottom: 0;
    }
  }

  .view-recipe {
    font-size: 13px;
    box-shadow: 3px 3px 0 $purple;
    margin-top: 10px;
    padding: 5px 10px;
    display: inline-block;
    background: $yellow;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: $purple;

    &:hover {
      background: $purple;
      color: $yellow;
    }
  }
}

ul.my-meals-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  & > li {
    padding: 15px 20px 20px 20px;
    border: 2px solid;
    border-radius: 5px;
  }
}

ul.ingredient-list {
  list-style-type: circle;
  margin-left: 20px;

  li {
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

form {
  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $inputBorder;
    padding: 10px 15px;
    font-size: 14px;
  }

  textarea {
    min-height: 100px;
  }

  button {
    background: $textDark;
    text-align: center;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    color: $white;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
}
