@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i");
@import "sass/partials/reset";
@import "sass/partials/variables";
@import "sass/partials/modal";

* {
  box-sizing: border-box;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: $textLink;
  transition: all 0.3s ease;

  &:hover {
    color: darken($textLink, 15%);
  }
}

button {
  background: inherit;
  border: 0;
}

body {
  background: $backgroundLight;
  color: $textDark;
  font-size: 14px;
  font-family: "Karla", sans-serif;
}

a.logo {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

nav {
  ul {
    display: flex;
    align-items: baseline;

    li {
      margin: 0 15px;

      a,
      button {
        font-size: 16px;
        cursor: pointer;
        color: $textLink;
        outline: none;

        &:hover {
          color: darken($textLink, 15%);
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.generate-btn {
  background: $textLink;
  text-align: center;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 16px;
  color: $white;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;

  &:hover {
    color: $white;
    background: darken($textLink, 15%);
  }
}

ul.planner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin: 0 20px 40px 20px;

  @media (max-width: 460px) {
    grid-template-columns: 1fr;
  }

  & > li {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: $white;

    &.empty .meta {
      justify-content: center;
    }

    &:last-of-type {
      border-right: 0;
    }
  }

  a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .meta {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

ul.recipe-list {
  list-style-type: circle;
  margin-left: 20px;

  li {
    margin: 10px 0;
    font-weight: 400;
    font-size: 18px;
  }
}

footer {
  text-align: center;
  font-size: 14px;
}

form {
  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $inputBorder;
    padding: 10px 15px;
    font-size: 14px;
  }

  textarea {
    min-height: 100px;
  }

  button {
    background: $textLink;
    text-align: center;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 16px;
    color: $white;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    &:hover {
      color: $white;
      background: darken($textLink, 15%);
    }
  }
}
