.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  //display: none;
}

.modal {
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
  width: 40vw;
  height: 40vw;
  border-radius: 20px;
}
